.itemOne{
    display: block;
    background-color: antiquewhite;
    width: 100%;
    height: 8rem;
    padding: 1rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
    border-radius: 10px;
}
.title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
}

.itemOne:hover{
    background-color: rgba(215, 203, 187, 0.621);
    transform: skew(5deg);
}